.faq-container {
    margin: 0 auto;
    /* padding: 2px; */
}

.help-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #c62222;
}

.faq-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.faq-list {
    list-style-type: none;
    padding: 0;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-question {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    color: rgb(101, 101, 236);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.faq-question:hover {
    background-color: #c5c1c1;
}

.faq-answer {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #c2c1c1;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 17.50px;
    font-weight: 500;
    line-height: 1.5;
    color: black;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .faq-container {
        padding: 10px;
    }

    .faq-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .faq-question {
        font-size: 16px;
    }

    .faq-answer {
        font-size: 14px;
    }
}

@media only screen and (max-width: 480px) {
    .faq-container {
        padding: 5px;
    }

    .faq-title {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .faq-question {
        font-size: 14px;
    }

    .faq-answer {
        font-size: 12px;
    }
}